@import "~bootstrap/scss/bootstrap-reboot";

$primary-color: #333;

body {
    color: $primary-color;
}

table {
    margin: 20px;
    border-collapse: collapse;
    tr {
        th, td {
            border: 1px solid #333;
            padding: 5px 10px;
        }
    }
}
