{% extends "base.html.twig" %}
{% block body %}
<style>
    table {
        border-collapse: collapse;
    }
    td, th {
        border: 1px solid #333;
        padding: 5px 10px;
    }
</style>
<table>
    <tr><th>Category name</th></tr>
    {% for category in categories %}
        <tr><td>{{ category.title }}</td></tr>
    {% endfor %}
</table>
{% endblock %}
