{% extends "base.html.twig" %}
{% block body %}
<table>
    <tr><th>Category name</th></tr>
    {% for category in categories %}
        <tr><td>{{ category.title }}</td></tr>
    {% endfor %}
</table>
{% endblock %}
