{% extends 'base.html.twig' %}

{% block body %}
    <div class="product">
        <div class="title"><h1>{{ product.title }}</h1></div>
        <div class="price">{{ product.price }}</div>
    </div>
{% endblock %}

{% block title %}
    {{ product.title }}
{% endblock %}

