{% extends "base.html.twig" %}
{% block body %}
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid #333;
            padding: 5px 10px;
        }
    </style>
    <table>
        <tr><th>Title</th><th>Price</th><th>created at</th></tr>
        {% for product in products %}
            <tr><td>{{ product.title }}</td></tr>
            <tr><td>{{ product.price }}</td></tr>
            <tr><td>{{ product.createdAt }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}
